@import "../definitions.less";

#content, #footer, #wrapper {
	background: white;
}

#wrapper.no-sidebar {
	#content {
		margin-left: 0px !important;
	}
	#footer {
		margin-left: 0px !important;
	}
}

a, button, input {
	color: #3554a5;
	&.btn.btn-primary {
		border-color: #3554a5;
		background-image: linear-gradient(to bottom, #3554a5 0%, #3554a5 100%);
		&:hover, &:focus {
			background-color: #4766b7;
		}
	}
}

#sidebar .sidenav .mainnav ul li a:hover i {
	color: #3554a5;
}

#sidebar.sidebar-fixed .active .indicator {
	background-color: #3554a5;
}

.green-circle, .green-circle-o {
	margin-right: 2px;
	margin-left: 1px;
	font-size: 1.15em;
}

.green-circle {
	color: #009B6A;
}

.green-circle-o {
	color: #F1F1F1;
}

p {
	&.rate-line {
		margin-bottom: 0px;
	}
}

span {
	&.rate-name {
		display: inline-block;
		padding-left: 5px;
	}
}

.pdf-preview-box {
	text-align: center;
}

.tab-pane {
	margin-right: 0px;
	margin-left: 0px;
}

.tab-pane .glyphicon {
	margin-left: 10px;
}

.tab-pane {
	min-height: 400px;
}

.slider-height label {
	margin: 7px;
}

.msg a {
	max-width: 170px;
}

.border {
	border: 1px solid #c4c4c4;
	padding: 15px;
}

.max_w_110 {
	max-width: 110px;
}

#docs .files {
	padding-top: 20px;
	padding-left: 0px;
}

#docs .files .file {
	display: block;
	float: left;
	width: 154px;
	min-height: 100px;
	margin-right: 20px;
	margin-left: 20px
}

#docs .files .file .thumbnail {
	display: block;
	background-color: transparent;
	border: none;
}

#docs .files .file .thumbnail .icon {
	display: block;
	margin: 0 auto;
	height: 64px;
	width: 64px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat
}

#docs .files .file .name {
	display: block;
	text-align: center;
	padding-top: 5px;
	font-size: 14px
}

#docs .files .file .actions {
	margin: 0 auto;
	width: 70px;
	margin-bottom: 20px
}

#docs .files .file .actions a {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat
}

#docs .files .file .actions a.switch {
	padding-right: 10px
}

#docs .files .file .actions a.switch.public {
	background-image: url('../../images/visible.png')
}

#docs .files .file .actions a.switch.private {
	background-image: url('../../images/invisible.png')
}

#docs .files .file .actions a.delete {
	background-image: url('../../images/close.png')
}

#docs .files .file .actions:after {
	display: block;
	clear: both;
	content: ""
}

#docs .files .file.jpg .thumbnail .icon {
	background-image: url('../../images/files/jpg.png')
}

#docs .files .file.png .thumbnail .icon {
	background-image: url('../../images/files/png.png')
}

#docs .files .file.pdf .thumbnail .icon {
	background-image: url('../../images/files/pdf.png')
}

#docs .files .file.default .thumbnail .icon {
	background-image: url('../../images/files/default.png')
}

#docs .files:after {
	display: block;
	clear: both;
	content: ""
}

#docs .actions-all {
	text-align: right
}

#docs .actions-all .delete-all {
	display: inline-block;
	padding-right: 21px;
	background: transparent url('../../images/erase.png') center right no-repeat;
	height: 16px;
	line-height: 16px
}

#docs .rest {
	background-color: #f0f0f0;
	padding: 10px;
	padding-left: 0;
}

#docs .rest > .rest {
	margin-left: 10px;
}

#docs .restContent {
	background-color: #fff;
	border: 1px #d1d1d1 solid;
	padding: 20px;
	margin-bottom: 15px;
}

.dz-message {
	opacity: 1 !important;
}

.has-error {
	.control-label, .error-message, .error-message .fa {
		color: #ed7a53;
	}
}

.jstree-default {
	.jstree-wholerow-clicked, .jstree-wholerow-hovered {
		background: none;
	}
}

#header {
	.navbar {
		background: #ebebeb;
		.navbar-header {
			.navbar-brand {
				margin-left: -25px;
				margin-right: 0px;
				padding-right: 0px;
			}
		}
	}
}

.candidate-item {
	.panel-body {
		.photo-rounded {
			border-radius: 50%;
		}
		.jobs {
			width: 100%;
			tr {
				th, td {
					padding: 5px;
				}
				th {
					font-weight: normal;
					font-style: italic;
					padding-left: 0px;
					width: 45%;
				}
			}
		}
	}
	.candidate-content {
		height: 181px;
	}
	.sub-long {
		height: 120px;
	}
	.sub-middle {
		height: 80px;
	}
	.sub-short {
		height: 40px;
	}
}

.jobMatches {
	.jobs {
		width: 100%;
		tr {
			th, td {
				padding: 5px;
			}
			th {
				font-weight: normal;
				font-style: italic;
				padding-left: 0px;
				width: 45%;
			}
		}
	}
}

.candidate-filter {
	.table {
		td {
			&.name {
				width: 200px;
				label {
					font-weight: normal;
					margin-top: 6px;
				}
			}
		}
	}
}

.twitter-widget {
	.twitter-widget-tweets {
		float: none;
	}
}

@media all and (max-width: 1120px) {
	.heading .breadcrumb {
		display: none !important;
	}
}