.grido {
	background-color: white;
	table {
		tbody {
			tr {
				td {
					border: none;
					padding: 13px 10px;
					.btn {
						text-shadow: none;
						box-shadow: none;
					}
					&.actions {
						i {
							margin-right: 0px;
						}
					}
				}
			}
		}
		tfoot {
			tr {
				td {
					border-bottom: none;
					.pagination.paginator {
						li.active {
							a {
								background-image: linear-gradient(to bottom, #3554a5 0%, #3554a5 100%);
								box-shadow: 0 1px 0 #eaeaea ,0 1px 0 #3554a5 inset !important;
								border-color: #3554a5;
							}
						}
					}
				}
			}
		}
	}
}