.recent-comments {
	li {
		cursor: pointer;
		&:hover {
			a {
				color: #246b8f;
			}
		}
		a {
			text-decoration: none;
		}
	}
}

.notification-settings {
	margin-top: 20px;
	text-align: right;
}

.messages {
	.message {
		&.message-system {
			background-image: linear-gradient(to bottom, #ffffff 0%, rgba(79, 187, 219, 0.22) 100%);
			.system-submessage {
				margin-bottom: 0px;
			}
		}
	}
	.user {
		.name {
			strong {
				color: #3554a5 !important;
			}
		}
	}
	.admin {
		.name {
			strong {
				color: #c30a1a !important;
			}
		}
	}
}

.showMoreMessage {
	text-align: center;
}

#frm-communication-form {
	.error-message {
		color: #F5460B;
		i {
			color: #F5460B;
		}
	}
}