{block pageTitle}
	{_'Jobs'}
{/block}

{block breadcrumbItems}
	<li class="active">{_'Jobs'}</li>
{/block}

{block content}
	<div class="row">
		<div class="col-md-12">
			<p class="text-right">
				<a n:href="Job:add 'companyId' => $company->id" class="btn btn-primary">
					<i class="fa fa-plus"></i>
					{_'New Job'}
				</a>
			</p>
			{control jobsGrid}
		</div>
	</div>
{/block content}
			

