{block pageTitle}
	{_'Jobs for'} {$company}
{/block}

{block content}
	<a n:if="$company" href="{plink Job:add $company->id}" class="btn btn-default">
		<span>{_'Add job'}</span>
	</a>

	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-body">
					{control jobsGrid}
				</div>
			</div>
		</div>
	</div>
{/block content}
