{block pageTitle}
	{_'My Jobs'}
{/block}

{block breadcrumbItems}
	<li class="active">{_'My Jobs'}</li>
{/block}

{block content}

	<div class="row">
		{control allJobs:filter}
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="cs-element-title">
				<h3 id="allJobsHeadline">{_'All Jobs'}</h3>
			</div>
		</div>
		{control allJobs:list}
	</div>

{/block}
