{block pageTitle}
	{_'Jobs'}
{/block}

{block breadcrumbItems}
<li>
	<a n:href="this">{_'Jobs'}</a>
</li>
{/block}

{block content}
<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-body">
				{control jobsDataView}
			</div>
		</div>
	</div>
</div>
{/block content}
			
			
{block jsPage}
<script>
	$(document).ready(function() {
		$('#jobTable').DataTable({});
	});
</script>
{/block jsPage}
