{block pageTitle}
	{_'Jobs'}
{/block}

{block breadcrumbItems}
<li>
	<a n:href="this">{_'Jobs'}</a>
</li>
{/block}

{block content}
<div class="row">
	<div class="col-md-12">

		<div class="panel panel-default">
			<!-- Start .panel -->
			<div class="panel-heading">
				<h4 class="panel-title">
					{_'Jobs'}
				</h4>
			</div>
			<div class="panel-body">
				{control jobsGrid}
			</div>
		</div>
	</div>
</div>
{/block content}
			

