{block pageTitle}
	{$company->name}
	<small n:if="$companyPermission->isAllowed('info', 'edit')">{_'You can edit info'}</small>
{/block}

{block breadcrumbItems}
<li>
	<a n:href="Company:">{_'Company'}</a>
</li>
{/block}

{block content}

<div class="row">
	<div class="col-md-6">
		<div class="well">
			<address>
				<strong>{$company->name}</strong><br>
				{!$company->address|nl2br}
			</address>
		</div>
	</div>
</div>
