extensions:
	webloader: WebLoader\Nette\Extension

services:
	cssUrlFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
	cssMinFilter: Joseki\Webloader\CssMinFilter
	lessFilter: WebLoader\Filter\LessFilter
	varFilter: WebLoader\Filter\VariablesFilter([basePath=@urlScript::getBasePath()])

webloader:
	css:
		front:
			files:
				- {files: ["*.less"], from: %wwwDir%/less/front/includes}
			filters:
				- @cssUrlFilter
				- @cssMinFilter
			fileFilters:
				- @lessFilter

		app:
			files:
				- {files: ["*.less"], from: %wwwDir%/less/app/includes}
			filters:
				- @cssUrlFilter
				- @cssMinFilter
			fileFilters:
				- @lessFilter

		print:
			files:
				- {files: ["*.less"], from: %wwwDir%/less/print/includes}
			filters:
				- @cssUrlFilter
				- @cssMinFilter
			fileFilters:
				- @lessFilter

		supr:
			files:
				- %wwwDir%/assets/css/supr/icons.css
				- %wwwDir%/assets/css/supr/bootstrap.css
				- %wwwDir%/assets/css/supr/plugins.css
				- %wwwDir%/assets/css/supr/main.css
				- %wwwDir%/assets/css/supr/custom.css
			filters:
				- @cssMinFilter

	js:
		suprCore:
			files:
				- %wwwDir%/assets/js/supr/libs/jquery-2.1.1.min.js
				- %wwwDir%/assets/js/supr/libs/jquery-ui-1.10.4.min.js
				- %wwwDir%/assets/js/supr/libs/jquery-migrate-1.2.1.min.js
			filters:
				- @varFilter

		libs:
			files:
				- %wwwDir%/assets/js/supr/bootstrap/bootstrap.js
				- %wwwDir%/assets/js/supr/libs/modernizr.custom.js
				- %wwwDir%/assets/js/supr/jRespond.min.js
				- %wwwDir%/assets/js/supr/plugins/core/slimscroll/jquery.slimscroll.min.js
				- %wwwDir%/assets/js/supr/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js
				- %wwwDir%/assets/js/supr/plugins/core/fastclick/fastclick.js
				- %wwwDir%/assets/js/supr/plugins/core/velocity/jquery.velocity.min.js
				- %wwwDir%/assets/js/supr/plugins/ui/bootbox/bootbox.js
				- %wwwDir%/assets/js/supr/plugins/ui/waypoint/waypoints.js
				- %wwwDir%/assets/js/supr/plugins/forms/autosize/jquery.autosize.js
				- %wwwDir%/assets/js/supr/plugins/forms/bootstrap-datepicker/bootstrap-datepicker.js
				- %wwwDir%/assets/js/supr/jquery.supr.js
				- %wwwDir%/assets/js/addones/bootstrap-rating.js
				- %wwwDir%/assets/js/nette.ajax/nette.ajax.min.js
				- %wwwDir%/assets/js/live-form-validation.js
				- %wwwDir%/assets/js/nette.serversidevalidation.js
				- %wwwDir%/assets/js/supr/main.js
				- %wwwDir%/assets/js/phpjs/functions/filesystem/file_exists.js
			filters:
				- @varFilter

		customScripts:
			files:
				- %wwwDir%/assets/js/scripts/config.js
				- %wwwDir%/assets/js/scripts/custom/global.js
				- %wwwDir%/assets/js/scripts/custom/login.js
				- %wwwDir%/assets/js/scripts/custom/pdf-preview.js
				- %wwwDir%/assets/js/scripts/custom/custom-init.js
				- %wwwDir%/assets/js/scripts/init.js
			filters:
				- @varFilter
