{includeblock '@settings.latte'}
{block content}
<div class="tabs tabs-left cv-tab mb20 row">
	{include settingsMenu}
	<div class="col-md-6">
		<div class="well">
			<p>{_'Do you really want to delete all data for your account?'}</p>
			<a class="btn btn-default" n:href="delete!">{_'Yes, I want'}</a>
		</div>
	</div>
</div>
