{**
 * SkillDataView control template
 *
 * @param   ArrayList	$skills	Skill
*}

<div class="DTTT btn-group">
    <a href="{plink Skills:add}" class="btn btn-default DTTT_button_copy">
        <span>{_'Add Skill'}</span>
    </a>
</div>

<table id="skillTable" class="table table-bordered table-striped table-hover dt-responsive non-responsive">
    <thead>
    <tr>
        <th>{_'ID'}</th>
        <th>{_'Name'}</th>
        <th>{_'Category'}</th>
        <th>{_'Action'}</th>
    </tr>
    </thead>
    <tbody>
    <tr n:foreach="$skills as $skill">
        <td>{$skill->id}</td>
        <td>{$skill->name}</td>
        <td>{$skill->category}</td>

        <td>
            <a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Skills:edit $skill->id}">
                <i class="fa fa-edit"></i> {_'Edit'}</a>
            <a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Skills:delete $skill->id}">
                <i class="fa fa-trash-o"></i> {_'Delete'}</a>
        </td>
    </tr>
    </tbody>
</table>
