<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{ifset #title}{include title|striptags} | {/ifset}Mediahost Support</title>
    </head>

    <body>

        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>        

        {include content}
        
    </body>
</html>
