<!DOCTYPE html>
<!--[if lt IE 8]>
<html lang="{$lang}" class="no-js lt-ie8"> <![endif]-->
<html lang="{$lang}" class="no-js">
{includeblock '../../BaseModule/templates/metronic.defines.latte'}

<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8"/>
	<title>{block title|striptags}{_'Source-Code'}{/block}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!--[if IE]>
	<meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->

	<meta name="robots" content="noindex,nofollow">
	<meta content="" name="author"/>
	<meta content="" name="description"/>
	<meta content="" name="keywords"/>
	<meta content="" name="application-name"/>

	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{_'Source-Code'}">
	<meta property="og:title" content="{include title}">
	<meta property="og:description" content="">
	<meta property="og:image" content="{link //:Foto:Foto:}">
	<meta property="og:url" content="{link //this}">

	<link rel="stylesheet" type="text/css" media="screen,projection,tv"
	      href="{$basePath}/assets/js/jstree/themes/default/style.min.css">
	{include cssSuprFonts}
	{control cssSupr}
	{control cssApp}

	<link rel="shortcut icon" href="{$basePath}/favicon.png" type="image/x-icon"/>
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="{block bodyClass}{/block}">
<!--[if lt IE 9]>
<p class="browsehappy">
	{_'You are using an <strong>outdated</strong> browser.'}
	{_'Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.'}
</p>
<![endif]-->

<!-- BEGIN HEADER -->
<div id="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" n:href="Homepage:">
				<img src="{$basePath}/images/logo/logo.png" alt="logo" height="66" style="padding-right: 30px;" />
			</a>
		</div>
		<div id="navbar-no-collapse" class="navbar-no-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#" class="collapseBtn leftbar">
						<i class="s16 minia-icon-list-3"></i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
<!-- END HEADER -->


<!-- BEGIN WRAPPER -->
<div id="wrapper">

	<!--Sidebar background-->
	<div id="sidebarbg" class="hidden-lg hidden-md hidden-sm hidden-xs"></div>
	<!-- BEGIN SIDEBAR -->
	<div id="sidebar" class="page-sidebar hidden-lg hidden-md hidden-sm hidden-xs">
		<div class="sidebar-inner">
			<div class="sidebar-scrollarea">
				<div class="sidenav">
					<div class="sidebar-widget mb0">
						<h6 class="title mb0">{_'Navigation'}</h6>
					</div>
					<div class="mainnav">
						<ul>
							<li>
								<a n:href="Homepage:" n:class="$presenter->isLinkCurrent('Homepage:*') ? active">
									<i class="s16 icomoon-icon-screen-2"></i>
									<span class="txt">{_'Homepage'}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END SIDEBAR -->

	<!--Body content-->
	<div id="content" class="page-content clearfix">
		<!--Content wrapper-->
		<div class="contentwrapper">

			<!-- BEGIN PAGE HEADER-->
			<div class="heading">
				<h3>{block pageTitle}{_'Source Code'}{/block}</h3>

				<ul class="breadcrumb">
					<li>{_'You are here'}:</li>
					<li>
						<a n:href="Homepage:" class="tip" title="" data-original-title="{_'Back to Homepage'}">
							<i class="s16 icomoon-icon-screen-2"></i>
						</a>
					</li>
					<span class="divider"><i class="s16 icomoon-icon-arrow-right-3"></i></span>
					{block breadcrumbItems}
						<li class="active">{_'Homepage'}</li>
					{/block}
				</ul>
			</div>
			<!-- END PAGE HEADER-->

			{include flashMessage}
			{include content}
		</div>
		<!-- End contentwrapper -->
	</div>
	<!-- End #content -->

	<!-- BEGIN FOOTER -->
	<div id="footer" class="clearfix sidebar-page right-sidebar-page">
		<!-- Start #footer  -->
		<p class="pull-left">
			{_'Copyright'} &copy; {!= date('Y')} <a href="#" class="color-blue strong" target="_blank">Source-Code Rec. Ltd.</a>.
			{_'All rights reserved.'}
		</p>
		<p class="pull-right">
			<a href="#" class="mr5">{_'Terms of use'}</a>
			|
			<a href="#" class="ml5 mr25">{_'Privacy police'}</a>
		</p>
	</div>
	<!-- END FOOTER -->
</div>
<!-- END WRAPPER -->

<!-- Back to top -->
<div id="back-to-top">
	<a n:href="this#">{_'Back to Top'}</a>
</div>

<!-- Javascripts -->
<!-- Load pace first -->
<script src="{$basePath}/assets/js/supr/plugins/core/pace/pace.min.js"></script>

{control jsSuprCore}
{include jsSuprCore}

{control jsLibs}
{control jsCustomScripts}

{block jsPage}
</body>
</html>

{define flashMessage}
	<!-- BEGIN FLASH MESSAGES-->
	<div n:snippet="flashMessages">
		<div n:foreach="$flashes as $flash"
				class="alert alert-{$flash->type} fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			{$flash->message}
		</div>
	</div>
	<!-- END FLASH MESSAGES-->
{/define}
