{**
 * CandidateGalleryView control template
 *
 * @param   Cv[]        $cvs
 * @param   array       $pageParams	
*}
<div n:snippet="galleryView" class="row">
    <div class="col-lg-9">
        {include 'paginationTemplate.latte'}

        <div n:inner-foreach="$cvs as $cv" class="gallery row">
            {control candidatePreview-$cv->id}
        </div>
    </div>
    <div class="col-lg-3 gallery-nav">
        <div class="search">
            {control searchFilter}
        </div>
        <br>
        <div class="page-header"></div>
        
        <div class="page-header">
            <span><strong>{_'Location filter'}</strong></span>
            <span class="right"><a href="#" data-toggle="modal" data-target="#locationFilter">{_'Set'}</a></span>
        </div>
        {control locationFilter:preview}
        
        <div class="page-header">
            <span><strong>{_'Job category filter'}</strong></span>
            <span class="right"><a href="#" data-toggle="modal" data-target="#categoryFilter">{_'Set'}</a></span>
        </div>
        {control categoryFilter:preview}
        
        <div class="page-header">
            <span><strong>{_'Skill filter'}</strong></span>
            <span class="right"><a href="#" data-toggle="modal" data-target="#skillFilter">{_'Set'}</a></span>
        </div>
        {control skillsFilter:preview}

        <div class="page-header">
            <span><strong>{_'Jobs'}</strong></span>
            <span class="right"><a href="{plink Jobs:showAll}" >{_'All'}</a></span>
        </div>
        {control matchingControl}
    </div>
</div>

        {include 'skillFilterTemplate.latte'}
        {include 'categoryFilterTemplate.latte'}
        {include 'locationFilterTemplate.latte'}
