{snippet matching}
<div class="gallery-category-nav">
    <ul class="">
        <li n:foreach="$categories as $category" n:if="count($category->jobs)" href="#">
            <a class="list-group-item active">{$category->name} </a>
            <ul class="list-group sub show">
                <li n:foreach="$category->jobs as $job" href="#" 
                    data-action="{link invite $job->id, '__CVS__', '__MATCHED__'}"
                    data-cvs="{$control->getMatchedCvs($job)}"
                    data-job="{$job->id}"
                    class="list-group-item job {($job->id == $openJob) ? 'droppable' : ''}">
                    <div class="flex-container">
                        <header class="title">
                            {$job->name}
                            <small class="label label-info" data-label="{_' Cvs'}">
                                {count($job->cvs)}{_' Cvs'}
                            </small>
                        </header>
                            <section n:inner-foreach="$job->cvs as $cv" class="content">
                                <div data-cv="{$cv->id}" class="matched panel panel-default plain">
                                    <div class="panel-heading">
                                        <div class="btn-group" role="group">
                                            <div class="checkbox-custom ml15">
                                            <input class="check" type="checkbox" value="option" id="preview-cv6" checked="checked">
                                                <label for="preview-cv6"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <a href="{plink cvDetail $cv->candidate->user->id}" class="ajax">
                                            <img src="{$basePath}/foto/{$cv->candidate->photo|size:50,50}" class="center img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </section>
                    </div>
                </li>
            </ul>
        </li> 
    </ul>
</div>
{/snippet}