{block breadcrumbLast}
<li>
    <a n:href="UserSettings:">{_'My Profile'}</a>
    <span class="fa fa-angle-right"></span>
</li>
<li><span>{_'Connect Manager'}</span></li>
        {/block}

{block content}

<div class="row">
    <div class="col-md-6">
        {control auth:connect}
    </div>
</div>