{block breadcrumbLast}
<li><a n:href="UserSettings:">{_'My Profile'}</a></li>
    {/block}

{block content}
<ul class="nav nav-pills nav-stacked">
	<li><a n:href="authorization">{_'Authorization'}</a></li>
	<li><a n:href="delete">{_'Hard delete'}</a></li>
</ul>