#################
## Log
#################
/log/*
!/log/.htaccess
!/log/web.config

#################
## Temp
#################
/temp/*
/www/webtemp/*
!/temp/.htaccess
!/temp/web.config

#################
## Nette configs
#################
*.local.neon
*.server.neon
*.server_dev.neon
*.server_test.neon
/app/config/settings.local/*

#################
## Vendor (3rd side libs)
################
/vendor/*
!/vendor/others

#################
## Tests
#################
/tests/test.log
/tests/temp/*
!/tests/temp/.htaccess

#################
## Bin
#################
/bin/test.bat
/bin/testOne.bat

#################
## NetBeans
################
/nbproject/*

#################
## PhpStorm
################
.idea

/tmp/*
/purge/*
!/www/webtemp/.htaccess

#################
## PhpStorm
################
/deployment/*
!/deployment/deployment.bat
!/deployment/deployment_dev.bat
!/deployment/deployment_test.bat
!/deployment/deployment.example.php
!/deployment/deployment.config.php

#################
## Installer
################
/www/adminer/database-log.sql
/bin/testInstaller.bat