#################
## Log
#################
/log/*
!/log/.htaccess
!/log/web.config

#################
## Temp
#################
/temp/*
/www/webtemp/*
!/temp/.htaccess
!/temp/web.config

#################
## Nette configs
#################
*.local.neon
*.server.neon

#################
## Composer
#################
composer.lock

#################
## Vendor (3rd side libs)
################
/vendor/*
!/vendor/others

#################
## Tests
#################
/tests/test.log
/tests/temp/*

#################
## Bin
#################
/bin/test.bat

#################
## NetBeans
################
/nbproject/*

#################
## PhpStorm
################
.idea

/tmp/*
/purge/*
!/www/webtemp/.htaccess

#################
## PhpStorm
################
/deployment/*
!/deployment/deployment.bat
!/deployment/deployment_dev.bat
!/deployment/deployment_test.bat
!/deployment/deployment.example.php
!/deployment/deployment.config.php
