<!DOCTYPE html>
{includeblock '../../../BaseModule/templates/metronic.defines.latte'}
<html lang="{$lang}">
    <head>
        <meta charset="utf-8">
        <title>{block title}{_'Error'}{/block}</title>
		
        <!-- Mobile specific metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
		
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="application-name" content="" />
		<meta name="robots" content="noindex,nofollow">
		
		{include cssSuprFonts}
		{control cssSupr}
		
        <link rel="icon" href="{$basePath}/favicon.ico" type="image/png">		
    </head>
    <body class="error-page">
        <div class="container error-container">
            <div class="error-panel panel panel-default plain animated bounceIn">
                <div class="panel-body">
					{include content}
                </div>
            </div>
        </div>
		
		{control jsSuprCore}
		{include jsSuprCore}
    </body>
</html>