{form form, class => 'form-horizontal mt0'}
	<div n:if="$form->errors" class="alert alert-danger">
		{foreach $form->errors as $error}
			<span>{$error}</span><br/>
		{/foreach}
	</div>

	<div class="form-group">
		<div class="col-lg-12">
			{input mail, class => 'form-control', placeholder => $form['mail']->getLabel()->getText()}
		</div>
	</div>

	<div class="form-group mb0">
		<div class="col-md-12">
			{button continue, class => 'btn btn-default'}{caption}{/button}
		</div>
	</div>
{/form}