{block footer}

<!-- BEGIN FOOTER -->
<div id="footer" class="clearfix sidebar-page right-sidebar-page">
	<!-- Start #footer  -->
	<p class="pull-left">
		{_'Copyright'} &copy; {!= date('Y')} <a href="#" class="color-blue strong" target="_blank">Source-Code Rec. Ltd.</a>.
		{_'All rights reserved.'}
	</p>
	<p class="pull-right">
		<a href="#" class="mr5">{_'Terms of use'}</a>
		|
		<a href="#" class="ml5 mr25">{_'Privacy police'}</a>
	</p>
</div>
<!-- END FOOTER -->
