{block pageTitle}
{_'Company section'}
{/block}

{block breadcrumbItems}
<li>
	<span>{_'Registration'}</span>
</li>
{/block}

{block content}
<div class="row">
	<div class="col-md-6">
		{if $isCandidate}
			{control completeCv}
		{elseif $isCompany}
			{control completeCompany}
		{/if}
	</div>
</div>