{block pageTitle}
{_'Your account is almost complete.'} <small>{_'Just one last step.'}</small>
{/block}

{block breadcrumbItems}
<li>
	<span>{_'Registration'}</span>
</li>
{/block}

{block content}
<h4>
	{_'Please fill this info and enjoy your ride!'}
</h4>

<div class="row">
	<div class="col-md-6">
		{control completeAccount}
	</div>
</div>