{block pageTitle}
{_'Just one step to be visible for high-tech companies!'}
{/block}

{block breadcrumbItems}
<li>
	<span>{_'Registration'}</span>
</li>
{/block}

{block content}
<div class="row">
	<div class="col-md-6">
		{control completeCandidateSecond}
	</div>
</div>