{if $item->accesses}
    {foreach $item->accesses as $access}
		<a href="{plink Users:access, $access->user->id}"><span class="fa fa-key"></span></a>
		<a href="{plink Users:edit, $access->user->id}">{$access->user}</a>
		{if !$iterator->last}<br/>{/if}
    {/foreach}
{/if}