<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="noindex, nofollow">
		<link rel="stylesheet" type="text/css" media="all" href="{$basePath}assets/css/pdf/all.css">
		<link rel="stylesheet" type="text/css" media="all" href="{$basePath}assets/css/pdf/{$theme}.css">
	</head>
	<body>
		<!--mpdf
			<htmlpageheader name="Header">
				<table class='header'>
					<tr>
						<td class='left'></td>
						<td class='middle'>{_'Curriculum Vitae'}</td>
						<td class='right1'></td>
						<td class='right2'></td>
						<td class='right3'></td>
					</tr>
				</table>
			</htmlpageheader>
			<htmlpagefooter name="Footer">
				<table class='footer'>
					<tr>
						<td class='left1'></td>
						<td class='left2'></td>
						<td class='left3'></td>
						<td class='middle'></td>
						<td class='right'></td>
					</tr>
				</table>
			</htmlpagefooter>

			<sethtmlpageheader name="Header" value="on" show-this-page="1" />
			<sethtmlpagefooter name="Footer" value="on" />
		mpdf-->
		
		{include 'default.latte'}
		{*include $theme.'.latte'*}
	</body>
</html>
