{block pageTitle}
	{_'Candidates'}
{/block}

{block breadcrumbItems}
	<li>
		<a n:href="Candidates:">{_'Candidates'}</a>
	</li>
{/block}

{block content}
	<div class="row">
		<div class="col-md-12">
			{control candidatesList:filter}
			{control candidatesList}
			{control candidatesList:paginator}
		</div>
	</div>
{/block}