{block pageTitle}
	{_'Users'}
{/block}

{block breadcrumbItems}
	<li class="active">{_'Users'}</li>
{/block}

{block content}
<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-body">
				<a n:href="Users:add" class="btn btn-success mr5 mb10">
					<i class="fa fa-plus"></i>
					{_'New User'}
				</a>
				{control usersGrid}
			</div>
		</div>
	</div>
</div>
{/block content}

