<div n:snippet="candidatesList" class="row">
	<!-- BEGIN PRODUCT LIST -->
	{foreach $candidates as $candidate}
		{var $candidateId => $candidate->id}
		<!-- PRODUCT ITEM START -->
		<div class="col-md-3">
			{control candidate-$candidateId}
		</div>
		<!-- PRODUCT ITEM END -->
	{/foreach}
	{if !count($candidates)}
		<div class="col-md-12">
			<div class="alert alert-warning">
				{_'No candidates.'}
			</div>
		</div>
	{/if}
	<!-- END PRODUCT LIST -->
</div>
