services:
	- App\Components\Sign\ISignOutControlFactory
	- App\Components\Sign\IForgottenControlFactory
	- App\Components\Sign\IRecoveryControlFactory

	authControlFactory:
		implement: App\Components\Sign\IAuthControlFactory
		inject: yes

	signInControlFactory:
		implement: App\Components\Sign\ISignInControlFactory
		inject: yes
