services:
	- {implement: App\Mail\Messages\ICreateRegistrationMessageFactory, inject: yes}
	- {implement: App\Mail\Messages\IForgottenMessageFactory, inject: yes}
	- {implement: App\Mail\Messages\IVerificationMessageFactory, inject: yes}
	- {implement: App\Mail\Messages\IShareMessageFactory, inject: yes}
	- {implement: App\Mail\Messages\INotificationFactory, inject: yes}
	- {implement: App\Mail\Messages\INewMatchFactory, inject: yes}
	- {implement: App\Mail\Messages\INewApplyFactory, inject: yes}
