services:
	# DAOs
	authDao: @doctrine.dao(App\Model\Entity\Auth)
	roleDao: @doctrine.dao(App\Model\Entity\Role)
	registrationDao: @doctrine.dao(App\Model\Entity\Registration)
	userDao: @doctrine.dao(App\Model\Entity\User)
	skillCategoryDao: @doctrine.dao(App\Model\Entity\SkillCategory)
	skillDao: @doctrine.dao(App\Model\Entity\Skill)

	# Facades
	- {class: App\Model\Facade\AuthFacade(@authDao), inject: yes}

	- App\Model\Facade\UserFacade(@userDao)
	- App\Model\Facade\RoleFacade(@roleDao)
	- {class: App\Model\Facade\RegistrationFacade(@registrationDao), inject: yes}

	# Storages
	- App\Model\Storage\RegistrationStorage
	- App\Model\Storage\MessageStorage
	- {class: App\Model\Storage\UserSettingsStorage, inject: yes}
