services:
	# DAOs
	roleDao: @doctrine.dao(App\Model\Entity\Role)
	userDao: @doctrine.dao(App\Model\Entity\User)
	skillCategoryDao: @doctrine.dao(App\Model\Entity\SkillCategory)
	skillDao: @doctrine.dao(App\Model\Entity\Skill)

	# Facades
	- {class: App\Model\Facade\RoleFacade(@roleDao), inject: yes}
	- {class: App\Model\Facade\UserFacade(@userDao), inject: yes}

	# Storages
#	- {class: App\Model\Storage\SettingsStorage, inject: yes}
	- {class: App\Model\Storage\SignUpStorage, inject: yes}
	- {class: App\Model\Storage\UserSettingsStorage, inject: yes}
