services:
	Permission:
		class: Nette\Security\Permission
		setup:
			# Roles
			- addRole('guest')
			- addRole('signed', 'guest')
			- addRole('candidate', 'signed')
			- addRole('company', 'signed')

			- addRole('admin', 'signed')
			- addRole('superadmin', 'admin')

			# Resources
			- addResource('dashboard')
			- addResource('registration')
			- addResource('profile')

			- addResource('candidate')
			- addResource('candidates')
			- addResource('candidatesList')
			- addResource('cvEditor')
			- addResource('cvViewer')
			- addResource('company')
			- addResource('companies')
			- addResource('job')
			- addResource('jobs')
			- addResource('jobCategories')
			- addResource('match')
			- addResource('companyNotes')
			- addResource('adminNotes')
			- addResource('editForeign')
			- addResource('messages')
			- addResource('messagesList')

			- addResource('users')
			- addResource('skills')
			- addResource('skillCategories')

			- addResource('examples')
			- addResource('service')

			# Privilegies
			- deny('guest')

			- allow('signed', 'dashboard', ['default'])
			- allow('signed', 'registration')
			- allow('signed', 'profile', ['default', 'settings', 'notifications', 'delete'])

			- allow('candidate', 'candidate', ['default', 'address', 'photo'])
			- allow('candidate', 'job', ['view'])
			- allow('candidate', 'jobs')
			- deny('candidate', 'jobs', ['showAll'])
			- allow('candidate', ['cvViewer', 'cvEditor'])
			- allow('candidate', 'messages')
			- deny('candidate', 'messages', ['create', 'browse'])

			- allow('company', 'company')
			- allow('company', 'job')
			- deny('company', 'job', ['accountManager', 'showNotMatched'])
			- allow('company', 'jobs')
			- allow('company', 'companyNotes')
			- allow('company', 'users')
			- deny('company', 'users', ['addAdmin', 'addCandidate'])
			- allow('company', 'messages')
			- deny('company', 'messages', ['browse'])
			- allow('company', 'match')

			- allow('admin', 'users')
			- allow('admin', 'skills')
			- allow('admin', 'skillCategories')
			- allow('admin', 'candidate')
			- allow('admin', 'candidates')
			- allow('admin', 'candidatesList')
			- allow('admin', 'company')
			- allow('admin', 'companies')
			- allow('admin', 'jobs')
			- allow('admin', 'job')
			- allow('admin', 'match')
			- allow('admin', 'cvViewer')
			- allow('admin', 'cvEditor')
			- allow('admin', 'messages')
			- allow('admin', 'profile')
			- allow('admin', 'adminNotes')
			- deny('admin', 'companyNotes', 'add')

			- allow('superadmin') # Full access for superadmin
