services:
	Permission:
		class: Nette\Security\Permission
		setup:
			# Roles
			- addRole('guest')
			- addRole('signed', 'guest')
			- addRole('candidate', 'signed')
			- addRole('company', 'signed')

			- addRole('admin', 'signed')
			- addRole('superadmin', 'admin')

			# Resources
			- addResource('dashboard')
			- addResource('registration')
			- addResource('profile')

			- addResource('candidate')
			- addResource('candidates')
			- addResource('cvEditor')
			- addResource('company')
			- addResource('companies')
			- addResource('job')
			- addResource('jobs')
			- addResource('cvs')
			- addResource('messages')

			- addResource('users')
			- addResource('skills')
			- addResource('skillCategories')

			- addResource('examples')
			- addResource('service')

			# Privilegies
			- deny('guest')

			- allow('signed', 'dashboard', 'default')
			- allow('signed', 'registration')
			- allow('signed', 'profile', ['default', 'settings', 'delete'])

			- allow('candidate', 'candidate', 'default')
			- allow('candidate', 'cvEditor', ['default', 'skills', 'jobs'])
			- allow('company', ['company', 'job'])
			- allow(['candidate', 'company'], 'messages')

			- allow('admin', 'users')
			- allow('admin', 'skills')
			- allow('admin', 'skillCategories')
			- allow('admin', 'candidate')
			- allow('admin', 'candidates')
			- allow('admin', 'company')
			- allow('admin', 'companies')
			- allow('admin', 'jobs')
			- allow('admin', 'job')
			- allow('admin', 'cvEditor')
			- allow('admin', 'cvs')

			- allow('superadmin') # Full access for superadmin
