services:
	Permission:
		class: Nette\Security\Permission
		setup:
			# Roles
			- addRole('guest')
			- addRole('signed', 'guest')
			- addRole('candidate', 'signed')
			- addRole('company', 'signed')

			- addRole('admin', 'signed')
			- addRole('superadmin', 'admin')

			# Resources
			- addResource('admin')
			- addResource('candidate')
			- addResource('company')
			- addResource('dashboard')
			- addResource('examples')
			- addResource('front')
			- addResource('profile')
			- addResource('users')
			- addResource('skills')
			- addResource('skillCategories')
			- addResource('service')

			# Privilegies
			- deny('guest')

			- allow('guest', 'front')
			- allow('signed', 'dashboard', 'default')
			- allow('signed', 'profile', ['view', 'settings', 'delete'])

			- allow('candidate', 'candidate', 'view')
			- allow('company', 'company', 'view')

			- allow('admin', 'users')
			- allow('admin', 'skills')
			- allow('admin', 'skillCategories')

			- allow('superadmin') # Full access for superadmin
