{block pageTitle}
	{_'Skills'}
{/block}

{block breadcrumbItems}
	<li class="active">{_'Skills'}</li>
{/block}

{block content}
	<div class="row">
		<div class="col-md-12">
			<p class="text-right">
				<a n:href="Skills:add" class="btn btn-primary">
					<i class="fa fa-plus"></i>
					{_'New Skill'}
				</a>
			</p>
			{control skillsGrid}
		</div>
	</div>
{/block content}

