{block pageTitle}
	{_'Skills'}
{/block}

{block breadcrumbItems}
	<li class="active">{_'Skills'}</li>
{/block}

{block content}
	<a href="{plink Skills:add}" class="btn btn-default DTTT_button_copy">
		<span>{_'Add Skill'}</span>
	</a>
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-body">
					{control skillsGrid}
				</div>
			</div>
		</div>
	</div>
{/block content}

