{snippet candidatePrint}
	<div id="{$id}" class="panel panel-default plain gallery-item">
		<div class="panel-heading">
			<h4 class="panel-title ui-widget-content">
				<strong>{$candidate}</strong>
				<small n:if="$person && $person->address">{$person->address->city}</small>
			</h4>
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<p>
						<b>{_'Prefered job categories'}:</b>
						<br/>
						<span class="tip">{$preferedJobCategories|truncate:70,'...'}</span>
					</p>
					<p n:if="$skills">
						<b>{_'IT Skills'}:</b>
						<br/>
						<span class="tip">{$skills|truncate:70,'...'}</span>
					</p>
					<div class="btn-group" role="group">
						<a n:if="isset($user) && $template->canAccess($identity, $cv->candidate->person->user)"
								href="{plink Users:access $user->id}"
								class="btn btn-default btn-link btn-sm">
							{_'Access'}
						</a>
						{*<a href="{plink Profile: $user->id}" target="_blank"*}
						<a href="{plink Profile:}" target="_blank"
						   class="btn btn-default btn-link btn-sm">
							{_'Profile'}
						</a>
					</div>
				</div>
				<div class="col-md-6">
					{*<a n:ifset="$user" href="{plink cvDetail $cv->candidate->person->user->id}">*}
					<img src="{$basePath}/foto/{$person->photo|size:150,150}" class="center img-responsive"
						 alt="image alt">
					{*</a>*}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p>
						<b>{_'Jobs'}:</b>
					</p>
					<table class="jobs">
						<tr n:foreach="$jobs as $job">
							{var match => $control->findMatch($job)}
							<th>{$job}</th>
							{if $match && $match->fullApprove}
								<td colspan="2">
									<span class="fa fa-check"></span> {_'Matched'}
								</td>
							{else}
								<td>
									{if $match && $match->candidateApprove}
										<span class="fa fa-check"></span> {_'Applied'}
									{else}
										<span class="fa fa-times"></span> {_'Not applied'}
									{/if}
								</td>
								<td>
									{if $match && $match->adminApprove}
										<span class="fa fa-check"></span>
										{if $match->candidateApprove}{_'Approved'}{else}{_'Suggested'}{/if}
									{else}
										<a n:href="match! $job->id" class="ajax">
											{if $match && $match->candidateApprove}{_'Approve'}{else}{_'Suggest'}{/if}
										</a>
									{/if}
								</td>
							{/if}
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>
{/snippet}