{snippet candidatePrint}
	<div id="{$id}" class="panel panel-default plain candidate-item">
		<div class="panel-heading">
			<h4 class="panel-title ui-widget-content">
				<small n:if="$candidate->cvFile">
					<a href="{$basePath}/{$candidate->cvFile}"
					   target="_blank" title="{_'CV file'}"><i class="icomoon-icon-file-download"></i></a>
				</small>
				<small n:if="!$candidate->cvFile && $identity->isAllowed('candidate', 'edit')">
					<a href="{plink CvEditor:file $user->id}"
					   title="{_'Upload CV file'}"><i class="icomoon-icon-file-upload color-red"></i></a>
				</small>
				<strong n:if="$person->fullName">{$person->fullName}</strong>
				<strong n:if="!$person->fullName">{_'Candidate #%id%', ['id' => $candidate->id]}</strong>
				<small n:if="$person && $person->address">
					{$person->address->city}
				</small>
				<span n:if="isset($user) && $template->canAccess($identity, $user)">
					<a href="{plink Users:access $user->id}"><i class="fa fa-key"></i></a>
				</span>
				<span n:if="$showNotes && isset($match) && ($identity->isAllowed('adminNotes') || $identity->isAllowed('companyNotes'))">
					<a href="#notes-{$id}" data-toggle="modal" class="btn btn-xs btn-primary">
						{if $identity->isAllowed('adminNotes')}
							{$match->adminNotes->count()}
						{elseif $identity->isAllowed('companyNotes')}
							{$match->companyNotes->count()}
						{/if}
					</a>
				</span>
			</h4>
		</div>

		<div class="panel-body">
			<div class="row mb10 candidate-content">
				<div class="col-md-6">
					<p n:if="$canShowAll">
						<b>{_'E-mail'}:</b>
						<br/>
						<span class="tip">{$user->mail}</span>
					</p>
					<p n:if="count($candidate->jobCategories)">
						<b>{_'Prefered job categories'}:</b>
						<br/>
						<span class="tip">{$preferedJobCategories|truncate:40,'...'}</span>
					</p>
					<p n:if="$skills">
						<b>{_'IT Skills'}:</b>
						<br/>
						<span class="tip">{$skills|truncate:40,'...'}</span>
					</p>
				</div>
				<div class="col-md-6">
					<a n:ifset="$user" n:tag-if="$identity->isAllowed('candidate', 'edit')"
							href="{plink Candidate:view $user->id}">
						<img src="{$person|foto:150,150}"
							 class="center img-responsive photo-rounded" alt="{$person->fullName}"/>
					</a>
					<p n:if="isset($match) && $match->totalStateName" class="text-right">
						{_'%state% at', ['state' => $match->totalStateName]}<br/>
						{$match->totalStateTime|date:'d.m.Y'}&nbsp;{$match->totalStateTime|date:'H:i:s'}
					</p>
				</div>
			</div>

			<div n:class="row, bt, pt10, $showJobList ? sub-long : (isset($match) ? sub-middle : sub-short)">
				{if $showJobList}
					<div class="col-md-12">
						<p>
							<b>{_'Job matches'}</b>
							| <a href="#matches-{$id}" data-toggle="modal">{_'Show all'}</a>
						</p>
						<table class="jobs">
							<tr n:foreach="$jobs as $job">
								{var matchItem => $candidate->findMatch($job)}
								<th>
									<a href="{plink Job:view $job->id}">
										{$job|truncate:20}
									</a>
								</th>
								{if $matchItem && $matchItem->fullApprove}
									<td colspan="2">
										<span class="fa fa-check"></span> {_'Matched'}
									</td>
								{else}
									<td>
										{if $matchItem && $matchItem->candidateApprove}
											<span class="fa fa-check"></span> {_'Applied'}
										{else}
											<span class="fa fa-times"></span> {_'Not applied'}
										{/if}
									</td>
									<td>
										{if $matchItem && $matchItem->adminApprove}
											{if $matchItem->candidateApprove}{_'Approved'}{else}{_'Invited'}{/if}
											<span class="fa fa-check"></span>
										{else}
											<a n:href="match! $job->id" class="ajax">
												{if $matchItem && $matchItem->candidateApprove}{_'Approve'}{else}{_'Invite'}{/if}
											</a>
										{/if}
									</td>
								{/if}
								{breakIf $iterator->counter >= $primaryJobsCount}
							</tr>
						</table>
					</div>
				{elseif $selectedJob && isset($match)}
					{if $match->accept}
						<div class="col-md-12 text-center">
							<a n:foreach="$matchStates as $stateId => $stateName"
									n:href="changeState! $selectedJob->id, $stateId"
									n:class="ajax, btn, $stateId == $match->state ? btn-info">{_$stateName}</a>
						</div>
						<div class="col-md-12 pt5">
							{control customState}
						</div>
					{elseif $match->fullApprove}
						<div class="col-md-12">
							<a n:href="accept! $selectedJob->id"
									class="ajax btn btn-success">{_'Accept'}</a>
							<a n:href="reject! $selectedJob->id" class="ajax btn btn-danger"
									n:if="$match->accept !== FALSE">{_'Reject'}</a>
						</div>
					{elseif !$match->adminApprove}
						<div class="col-md-12">
							<a n:href="match! $selectedJob->id" class="ajax btn btn-success">
								{if $match->candidateApprove}{_'Approve'}{else}{_'Invite'}{/if}
							</a>
						</div>
					{/if}
				{/if}
			</div>

		</div>
	</div>

	<div n:if="$showJobList" class="modal fade jobMatches" id="matches-{$id}" tabindex="-1" role="dialog"
							 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">{_'Close'}</span>
					</button>
					<h4 class="modal-title">
						<span n:if="$person->fullName">{$person->fullName}</span>
						<span n:if="!$person->fullName">{_'Candidate #%id%', ['id' => $candidate->id]}</span>
						- {_'Job matches'}
					</h4>
				</div>
				<div class="modal-body">
					<table class="jobs">
						<tr n:foreach="$jobs as $job">
							{var matchItem => $candidate->findMatch($job)}
							<th>
								<a href="{plink Job:view $job->id}">
									{$job}
								</a>
							</th>
							{if $matchItem && $matchItem->fullApprove}
								<td colspan="2">
									<span class="fa fa-check"></span> {_'Matched'}
								</td>
							{else}
								<td>
									{if $matchItem && $matchItem->candidateApprove}
										<span class="fa fa-check"></span> {_'Applied'}
									{else}
										<span class="fa fa-times"></span> {_'Not applied'}
									{/if}
								</td>
								<td>
									{if $matchItem && $matchItem->adminApprove}
										{if $matchItem->candidateApprove}{_'Approved'}{else}{_'Invited'}{/if}
										<span class="fa fa-check"></span>
									{else}
										<a n:href="match! $job->id">
											{if $matchItem && $matchItem->candidateApprove}{_'Approve'}{else}{_'Invite'}{/if}
										</a>
									{/if}
								</td>
							{/if}
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div n:if="$showNotes && isset($match)" class="modal fade jobNotes" id="notes-{$id}" tabindex="-1" role="dialog"
											aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">{_'Close'}</span>
					</button>
					<h4 class="modal-title">
						{_'Notes:'}
						<span n:if="$person->fullName">{$person->fullName}</span>
						<span n:if="!$person->fullName">{_'Candidate #%id%', ['id' => $candidate->id]}</span>
						- {$selectedJob}
					</h4>
				</div>
				<div class="modal-body">
					{control notes}
				</div>
			</div>
		</div>
	</div>
{/snippet}