includes:
	- ../extensions/authentication.neon
	- ../extensions/doctrine.neon
	- ../authorizator/authorizator.neon
	- ../model/model.neon

php:
	date.timezone: Europe/Prague

nette:
	session:
		autoStart: true