{**
 * NotesControl control template
 *
 * @param   Job     $job
*}
{snippet notesControl}
    <a href="{link edit}" class="ajax right"><i class="fa fa-edit"></i></a>
    <p>{$job->notes}</p>
{/snippet}