{**
 * NotesControl control template
 *
 * @param   Job     $job
*}
{snippet notesControl}
    {form form}
        {input notes, 'class'=>'form-control'}
        {input save, 'class'=>'btn btn-primary button'}
    {/form}
{/snippet}