{**
 * CandidatePreview control part template
 *
 * @param   Cv     $cv	
*}

<div class="panel-body">
    <small>
        <p n:if="count($cv->jobs)">
            <b>{_'Matched jobs: '}</b>
            <br>
            <span>{implode(', ', $cv->jobs)}</span>
        </p>
        <p>
            <b>{_'Prefered job categories: '}</b>
            </br>
            <span class="tip" data-original-title="{$preferedJobCategories}">
                {$preferedJobCategories|truncate:70,'...'}
            </span>
        </p>
        <p>
            <b>{_'IT Skills: '}</b>
            </br>
            <span class="tip" data-original-title="{$skills}">
                {$skills|truncate:70,'...'}
            </span>
        </p>

        <div class="btn-group" role="group">
            <div class="checkbox-custom ml15">
                <input class="check" type="checkbox" value="option" id="preview-cv{$cv->id}">
                <label for="preview-cv{$cv->id}"></label>
            </div>
            <a n:if="isset($cv->candidate->person->user) && $template->canAccess($user, $cv->candidate->person->user)"
               href="{plink Users:access $cv->candidate->person->user->id}"
               class="btn btn-default btn-link btn-sm">{_'Access'}
            </a>
            <a href="{plink Profile:candidate 'userId' => $cv->candidate->person->user->id}" target="_blank"
               class="btn btn-default btn-link btn-sm delete-image">
                {_'Profile'}
            </a>
        </div>
    </small>
    <br><br>
    <a n:ifset="$cv->candidate->person->user" href="{plink cvDetail $cv->candidate->person->user->id}" class="ajax">
        <img src="{$basePath}/foto/{$cv->candidate->person->photo|size:150,150}" class="center img-responsive" alt="image alt">
    </a>
</div>