{**
 * SkillFilter control preview template
 *
 * @param   SkillKnowRequest[]     $skillRequests
*}
<ul n:inner-foreach="$skillRequests as $skillRequest">
    <li>{$skillRequest->skill} {$skillRequest->levelFrom} - {$skillRequest->levelTo}, 
        {$skillRequest->yearsFrom} - {$skillRequest->yearsTo}
    </li>
</ul>

