{**
 * CvsDataView control template
 *
 * @param   ArrayList	$cvs	Cv
*}


<table id="userTable" class="table table-bordered table-striped table-hover dt-responsive non-responsive">
    <thead>
    <tr>
        <th>{_'ID'}</th>
        <th>{_'Candidate'}</th>
        <th>{_'Name'}</th>
        <th>{_'Default'}</th>
        <th>{_'Action'}</th>
    </tr>
    </thead>
    <tbody>
    <tr n:foreach="$cvs as $cv">
        <td>{$cv->id}</td>
        <td>{$cv->candidate}</td>
        <td>{$cv->name}</td>
        <th class="grid-cell-isDefault center text-center center"><i n:if="$cv->isDefault" class="glyphicon glyphicon-ok icon-ok"></i></th>
        <td>
            <a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:CvEditor:default $cv->id}">
                <i class="fa fa-edit"></i> {_'Edit'}</a>
            <a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Cvs:delete $cv->id}">
                <i class="fa fa-trash-o"></i> {_'Delete'}</a>
        </td>
    </tr>
    </tbody>
</table>