<p>
	<a href="{$basePath}/{$candidate->cvFile}" target="_blank" class="btn btn-default" n:if="$candidate->cvFile">
		<span class="fa fa-download"></span>{_'My CV'}
	</a>
	<a n:if="$editable" href="{plink :App:CvEditor:file ($isSameUser ? NULL : $candidate->person->user->id)}" class="btn btn-default">
		<span class="fa fa-edit"></span>{_'Change CV'}
	</a>
</p>
<div n:if="count($control->getUploadedDocs())" id="docs">
	<ul class="files">
		<li n:foreach="$control->getUploadedDocs() as $doc" class="file {$doc->fileExtension()}">
			<a href="{$basePath}/{$doc->getWebPath()}" target="_blank" class="thumbnail">
				<span class="icon"></span>
			</a>
			<span class="name">{$doc->getDisplayName()}</span>
			<div  n:if="$editable" class="actions">
				<a href="{link public $doc->id}" class="switch {$doc->public ? 'public' : 'private'}"></a>
				<a href="{link deleteDoc $doc->id}" class="confirm delete"></a>
			</div>
		</li>
	</ul>
</div>
<div n:if="!count($control->getUploadedDocs())" class="alert alert-info">
	{if $user->isInRole('superadmin') || $user->isInRole('admin')}
		{_'No career documents.'}
	{else}
		{_'No career documents.'}
		<a n:if="$editable" href="{plink :App:CvEditor:CareerDocs $isSameUser ? NULL : $candidate->person->user->id}">
			<span class="fa fa-upload"></span>{_'Add files'}
		</a>
	{/if}
</div>