<div id="docs">
	<ul class="files">
		<li n:foreach="$control->getUploadedDocs() as $doc" class="file {$doc->fileExtension()}">
			<a href="{$basePath}/{$doc->getWebPath()}" target="_blank" class="thumbnail">
				<span class="icon"></span>
			</a>
			<span class="name">{$doc->getDisplayName()}</span>
			<div class="actions">
				<a href="{link switch $doc->id}" class="switch {$doc->public ? 'public' : 'private'}"></a>
				<a href="{link deleteDoc $doc->id}" class="confirm delete"></a>
			</div>
		</li>
	</ul>
</div>
<p n:if="!count($control->getUploadedDocs())" class="row p10 mb0">
	{_'No career documents - click to add your career docs'}
</p>
<p class="row text-right p10 mb0">
	{*<a href="{plink CvEditor:CareerDocs $control->getCandidate()->user->id}">{_'Add files'}</a>*}
</p>