{block pageTitle}
	{_'Communication'}
{/block}

{block breadcrumbItems}
	<li>
		<a n:href="Messages:communication $presenter->getParameter('id')">{_'Communication'}</a>
	</li>
{/block}

{block content}
<div class="row">
	<div class="col-md-12">
		{control communication}
	</div>
</div>