{block pageTitle}
{_'Messages'}
{/block}

{block breadcrumbItems}
<li>
	<a n:href="Messages:">{_'Messages'}</a>
</li>
{/block}

{block content}
<div class="row">
	<div class="col-md-5 col-sm-4" n:snippet="messages-list">
		{control communicationList}
		{control startCommunicationModal}
	</div>
	<div class="col-md-7 col-sm-8" n:if="$conversation" n:snippet="messages">
		{control communication}
	</div>
</div>