{block pageTitle}
	{_'Messages list'}
{/block}

{block breadcrumbItems}
	<li>
		<a n:href="Messages:list">{_'Messages list'}</a>
	</li>
{/block}

{block content}
	{control conversationsGrid}
{/block}
