{block pageTitle}
    {_'Messages list'}
{/block}

{block breadcrumbItems}
    <li>
        <a n:href="Messages:messagesList">{_'Messages list'}</a>
    </li>
{/block}

{block content}
    {control communicationGrid}
{/block}
