{block pageTitle}
	{_'Jobs'}
{/block}

{block content}
	<div class="row">
		<div class="col-md-7">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						{if $job->isNew()}
							{_'New job'}
						{else}
							{_'Job #%id%', ['id' => $job->id]}
						{/if}
					</h4>
				</div>
				<div class="panel-body">
					{control jobInfoForm}
				</div>
			</div>

		</div>
	</div>
{/block}
