{block pageTitle}
	{$pageTitle}
{/block}

{block breadcrumbItems}
	<li>
		<a n:href="this">{_'CVs'}</a>
	</li>
{/block}

{block content}

        {control candidateGalleryView}
        {snippet cvDetail}{/snippet}

{/block content}
