{block content}		
<div class="container login-container">
	<div class="login-panel panel panel-default plain animated bounceIn">
		<div class="panel-body">
			{include flashMessage}
			<h4>{_'Forgot Your Password?'}</h4>
			<p>
				{_'Enter your e-mail address below to set new one.'}
			</p>
			{control forgotten:login}
		</div>
	</div>
</div>