{block content}		
<div class="container login-container">
	<div class="login-panel panel panel-default plain animated bounceIn">
		<div class="panel-body">
			{include flashMessage}
			<h4>{_'Password recovery'}</h4>
			<p>
				{_'Enter a new password to your account.'}:
			</p>
			{control recovery:login}
		</div>
	</div>
</div>
