{block content}
<div class="login-form">
	<h3 class="form-title">{_'Step 3/3'}</h3>
	<h2>{_'User info'}</h2>
	<div>E-mail: {$user->mail}</div>
	{if $role == 'candidate'}
		<div>Name: {$user->name}</div>
	{/if}
	{if $role == 'company'}
		<h2>{_'Company info'}</h2>	
		<div>Name: {$company->name}</div>
	{/if}
	{control summary}
</div>
