{block bodyClass}login{/block}

{block content}
<h3 class="form-title">
	{if $role === $roleCandidate}{_'Registration for Candidate'}
	{elseif $role === $roleCompany}{_'Registration for Company'}{/if}
</h3>

{control signUp:login}