{block content}		
<div class="container login-container">
	<div class="login-panel panel panel-default plain animated bounceIn">
		<div class="panel-body">
			{include flashMessage}
			<h4>
				{if $role === $roleCandidate}{_'Registration for Candidate'}
				{elseif $role === $roleCompany}{_'Registration for Company'}
				{/if}
			</h4>
			<p>&nbsp;</p>
			{control required:login}
		</div>
	</div>
</div>