{block pageTitle}
	{_'Actions'}
{/block}

{block breadcrumbItems}
	<li class="active">{_'Actions'}</li>
{/block}

{block content}
	<div class="row">
		<div class="col-md-12">
			{control actionsGrid}
		</div>
	</div>
{/block}

