{block pageTitle}
	{_'Social Sign In'}
{/block}

{block breadcrumbItems}
	<li>{_'Settings'}</li>
	<span class="divider"><i class="s16 icomoon-icon-arrow-right-3"></i></span>
	<li class="active">{_'Social Sign In'}</li>
{/block}

{block content}
<div class="row">
	<div class="col-lg-6 col-md-8">
		{control connect}
	</div>
</div>