{block pageTitle}
	{_'Delete your account'}
{/block}

{block breadcrumbItems}
	<li>{_'Settings'}</li>
	<span class="divider"><i class="s16 icomoon-icon-arrow-right-3"></i></span>
	<li class="active">{_'Delete account'}</li>
{/block}

{block content}
<div class="row">
	<div class="col-lg-6 col-md-8">
		<div class="well">
			<p>{_'Do you really want to delete all data for your account?'}</p>
			<a class="btn btn-default" n:href="delete!">{_'Yes, I want'}</a>
		</div>
	</div>
</div>