{block pageTitle}
	{_'Set Password'}
{/block}

{block breadcrumbItems}
	<li>{_'Settings'}</li>
	<span class="divider"><i class="s16 icomoon-icon-arrow-right-3"></i></span>
	<li class="active">{_'Set Password'}</li>
{/block}

{block content}
<div class="row">
	<div class="col-lg-6 col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				{control setPassword}
			</div>
		</div>
	</div>
</div>