{**
 * CandidatePreview control template
 *
 * @param   Cv     $cv	
*}

<div class="col-sm-4 col-xs-6 panel panel-default plain draggable gallery-item">
    <div class="panel-heading">
        <h4 class="panel-title ui-widget-content">
            <strong>{$cv->candidate}</strong> 
            <small>&nbsp;{$cv->candidate->address->city}</small>
        </h4>
        </br>

        <div class="btn-group" role="group">
            <div class="checkbox-custom ml15">
                <input class="check" type="checkbox" value="option" id="preview-cv{$cv->id}">
                <label for="preview-cv{$cv->id}"></label>
            </div>
            <a n:if="$template->canAccess($user, $cv->candidate->user)" 
               href="{plink Users:access $cv->candidate->user->id}" 
               class="btn btn-default btn-link btn-sm">{_'Access'}
            </a>
            <a href="{plink Profile: $cv->candidate->user->id}" class="btn btn-default btn-link btn-sm delete-image">
                {_'Profile'}
            </a>
        </div>
    </div>

    <div class="panel-body">
        <p><small>
            <b>{_'Prefered job categories: '}</b>
            </br>
            {$preferedJobCategories['short']}
            <a n:ifset="$preferedJobCategories['full']" href="#" class="tip" 
               data-original-title="{$preferedJobCategories['full']}">{_'more'}</a>
        </small></p>
        <p><small>
            <b>{_'IT Skills: '}</b>
            </br>
            {$skills['short']}
            <a n:ifset="$skills['full']" href="#" class="tip" 
               data-original-title="{$skills['full']}">{_'more'}</a>
        </small></p>
        
        <a href="{plink cvDetail $cv->candidate->user->id}" class="ajax">
            <img src="{$basePath}/foto/{$cv->candidate->photo|size:150,150}" class="center img-responsive" alt="image alt">
        </a>
    </div>
</div>