{**
 * JobDataView control template
 *
 * @param   ArrayList	$jobs	Job
*}

<table id="jobTable" class="table table-bordered table-striped table-hover dt-responsive non-responsive">
	<thead>
		<tr>
			<th>{_'ID'}</th>
			<th>{_'Name'}</th>
			<th>{_'Description'}</th>
			<th>{_'Company'}</th>
			<th>{_'Action'}</th>
		</tr>
	</thead>
	<tbody>
		<tr n:foreach="$jobs as $job">
			<td>{$job->id}</td>
			<td>{$job->name}</td>
			<td>{$job->description}</td>
			<td>{$job->company->name}</td>
			<td>
				<a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Job:view $job->id}"><i class="fa fa-eye"></i> View</a>
				<a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Job:edit $job->id}"><i class="fa fa-edit"></i> Edit</a>
				<a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Job:delete $job->id}"><i class="fa fa-trash-o"></i> Delete</a>
			</td>
		</tr>
	</tbody>
</table>
