{**
 * JobDataView control template
 *
 * @param   ArrayList	$jobs	Job
 * @param   Company	$company
*}

<div class="DTTT btn-group">
    <a n:if="$company" href="{plink Job:add $company->id}" class="btn btn-default DTTT_button_copy">
        <span>{_'Add job'}</span>
    </a>
    <a class="btn btn-default DTTT_button_copy">
        <span>{_'Export'}</span>
    </a>
</div>

<table id="jobTable" class="table table-bordered table-striped table-hover dt-responsive non-responsive">
    <thead>
        <tr>
            <th>{_'Name'}</th>
            <th>{_'Company'}</th>
            <th>{_'Category'}</th>
            <th>{_'Location'}</th>
            <th>{_'Required IT Skills'}</th>
            <th>{_'Action'}</th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$jobs as $job">
            <td>{$job->name}</td>
            <td>{$job->company->name}</td>
            <td>{$job->category}</td>
            <td>{$job->location}</td>
            <td class="tip" data-original-title="{$control->formatSkillRequests($job)}">{$control->formatSkillRequests($job)|truncate,50}</td>
            <td>
                <a n:if="$user->isAllowed('jobs', 'view')" href="{plink :App:Job:view $job->id}"
                   class="grid-action-view btn btn-xs btn-mini"><i class="fa fa-eye"></i> View</a>
                <a n:if="$user->isAllowed('jobs', 'edit')" href="{plink :App:Job:edit $job->id}"
                   class="grid-action-view btn btn-xs btn-mini"><i class="fa fa-edit"></i> Edit</a>
                <a n:if="$user->isAllowed('jobs', 'cvs')" href="{plink :App:Cvs: 'jobId' => $job->id}"
                   class="grid-action-view btn btn-xs btn-mini"><i class="fa fa-file-text"></i> {_'Suggested CVs'}</a>
                <a  n:if="$user->isAllowed('jobs', 'delete')" href="{plink :App:Job:delete $job->id}"
                    class="grid-action-view btn btn-xs btn-mini" ><i class="fa fa-trash-o"></i> Delete</a>
            </td>
        </tr>
    </tbody>
</table>
