{block pageTitle}
	{_'Skill Categories'}
{/block}

{block content}
	<div class="row">
		<div class="col-md-8">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						{if $skillCategory->isNew()}
							{_'New skill category'}
						{else}
							{_'Skill category #%id%', ['id' => $skillCategory->id]}
						{/if}
					</h4>
				</div>
				<div class="panel-body">
					{control skillCategoryForm}
				</div>
			</div>

		</div>
	</div>
{/block}
