{*
 * CareerDocs view template
 *
*}
{block content}
    <div class="panel-body">
        <form id="my-awesome-dropzone" action="{link careerDocsControl-send!}" class="dropzone"></form>
    </div>
{/block content}
