{block pageTitle}
	{_'My CV'}
{/block}

{block content}
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">{_'My CV file'}</h4>
				</div>
				<div class="panel-body pt0 pb0">
					{control changeCv}
				</div>
			</div>
		</div>
	</div>
{/block content}