{block pageTitle}
	{if $isMine}
		{_'IT Skills'}
	{elseif $isAdmin}
		{_'IT Skills of %candidate% (%mail%)', NULL, ['candidate' => $candidate, 'mail' => $person->user->mail]}
	{else}
		{_'IT Skills of %candidate%', NULL, ['candidate' => $candidate]}
	{/if}
{/block}

{block breadcrumbItems}
	<li class="active">{_'IT Skills'}</li>
{/block}

{block content}
<div class="row">
	<div class="col-editor">
		{control skillKnowList}
	</div>
</div>
