{block pageTitle}
	{_'IT Skills'}
{/block}

{block breadcrumbItems}
	<li class="active">{_'IT Skills'}</li>
{/block}

{block content}
<div class="row">
	<div class="col-editor">
		{control skillKnowList}
	</div>
</div>
