{includeblock 'navigation.latte'}

{block content}


<div class="row expandAll">
	<div class="col-lg-7 col-md-12 col-editor">
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			{control skillsForm}
		</div>
	</div>
</div>
