{layout '../@metronic.layout.latte'}

{block bodyClass}login{/block}

{block layout}
	<div class="logo">
		<a n:href="Homepage:"><img src="{$basePath}/assets/img/logo-big.png" alt=""/></a>
	</div>
	<div class="content">
		{include #content}
	</div>
	<div class="copyright">2014 &copy; {_'Source-Code by Mediahost'}.</div>
{/block}