{**
 * CompanyDataView control template
 *
 * @param   ArrayList	$companies	Company
*}

<div class="DTTT btn-group">
	<a href="{plink Companies:add}" class="btn btn-default DTTT_button_copy">
		<span>{_'Add company'}</span>
	</a>
	<a class="btn btn-default DTTT_button_copy">
		<span>{_'Export'}</span>
	</a>
</div>
	
<table id="companyTable" class="table table-bordered table-striped table-hover dt-responsive non-responsive">
	<thead>
		<tr>
			<th>{_'ID'}</th>
			<th>{_'Name'}</th>
			<th>{_'Users'}</th>
			<th>{_'Action'}</th>
		</tr>
	</thead>
	<tbody>
		<tr n:foreach="$companies as $company">
			<td>{$company->id}</td>
			<td>{$company->name}</td>
			<td>
                            <a n:foreach="$company->accesses as $access" href="{plink Users:edit, $access->user->id}">
                                    {$access->user}
                            </a>
                        </td>
			<td>
				<a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Companies:view $company->id}"><i class="fa fa-eye"></i> View</a>
				<a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Jobs: $company->id}"><i class="fa fa-briefcase"></i> Jobs</a>
				<a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Companies:editImages $company->id}"><i class="fa fa-image"></i> Images</a>
				<a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Companies:edit $company->id}"><i class="fa fa-edit"></i> Edit</a>
				<a class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Companies:delete $company->id}"><i class="fa fa-trash-o"></i> Delete</a>
			</td>
		</tr>
	</tbody>
</table>

