@import "../definitions.less";

.form-horizontal, .form-inline {
	.form-group {
		&.has-error {
			.error-message {
				color: #ed7a53;
				font-weight: bold;
				font-size: 13px;
				i {
					color: #ed7a53;
				}
			}
		}
	}
	input {
		&[type="file"] {
			padding: 5px;
			height: auto;
		}
	}
}
.social-buttons {
	.linkedin {
		border-color: #0077b5;
		background-image: linear-gradient(to bottom, #0077b5 0%, #0077b5 100%);
		&:hover {
			background-color: #0077b5;
			background-position: 0 -15px;
		}
	}
}