/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
.mapView {
    height: 250px;

    margin-bottom: 20px;
    border: 1px solid black;
}

.message-header {
    margin-bottom: 15px;
    width: 100%;
    min-height: 32px;
}
.message-search {
    width: 75%;
    float: left;
}
.message-add {
    width: 25%;
    float: right;
    text-align: right;
}