/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
.right {
    float: right;
}
.left {
    float: left;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
}
.dl-horizontal dd {
    margin-left: 180px;
}

.mapView {
    height: 250px;

    margin-bottom: 20px;
    border: 1px solid black;
}

.message-header {
    margin-bottom: 15px;
    width: 100%;
    min-height: 32px;
}
.message-search {
    width: 100%;
    float: left;
}

.gallery-nav ul {
    -webkit-padding-start: 20px;
}
.gallery-category-nav ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}
.gallery-category-nav .list-group li {
    cursor: pointer;
}
.job .matched {
    float: left;
    display: none;
}
.droppable .matched {
    display: block;
}
.droppable .label  {
    display: none;
}
.droppable .title  {
    margin-bottom: 10px;
    font-weight: bold;
}
.droppable .panel-body {
    padding: 5px;
}
.draggable {
    z-index: 100;
    cursor: move;
}
.droppable {
    min-height: 200px;
}
.matched .panel-heading, .matched p {
    display: none;
}