{includeblock 'blocks.latte'}

{block content}
<div class="col-md-12 col-sm-12">
	<h1>{_'CV'}: {if $cv->name}{$cv}{else}<i>{_'unnamed'}</i>{/if}</h1>
	<div class="row">
		<div class="col-md-2">
			{include navigation, cv => $cv}
		</div>
		<div class="col-md-6">
			<div class="content-form-page">
				{control skillsForm}
			</div>
		</div>
		<div class="col-md-4">
			{include preview, cv => $cv}
		</div>
	</div>
</div>