{var $robots = noindex}

{block content}
<div class="page-inner">
	<img src="{$basePath}/images/earth.jpg" class="img-responsive" alt="">
</div>
<div class="container error-404">
	<h1>{_'405'}</h1>
	<h2>{_'Houston, we have a problem.'}</h2>
	<p>
		{_'The requested method is not allowed for the URL.'}
	</p>
	<p>
		<a href="{$homepage}">{_'Return home'}</a>
		<br>
	</p>
</div>
{/block}

{block title}
{_'Method Not Allowed'}
{/block}

{block bodyClass}
{include parent}
page-404-3
{/block}
