{block content}
<div class="row">
	<div class="col-md-12 page-500">
		<div class=" number">
			{_'500'}
		</div>
		<div class=" details">
			<h3>{_'Oops! Something went wrong.'}</h3>
			<p>
				{_'We are fixing it!'}<br/>
				{_'Please come back in a while.'}<br/><br/>
			</p>
		</div>
	</div>
</div>
{/block}

{block pageTitle}
{_'Server Error'}
{/block}

{block bodyClass}
{include parent}
page-500-full-page
{/block}
