{layout '../@layout.latte'}

{block subtitle}
	<font size="+1" color="#00285A">{_'Job Invitation'}</font>
{/block}

{block content}
<table class="container content">
	<tr>
		<td>
			<table class="row note">
				<tr>
					<td class="wrapper last">
						{$mainText|noescape}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>