{snippet questionsControl}
<a n:if="!$job->isNew()" href="{link edit}" class="ajax right"><i class="fa fa-edit"></i></a>
</br>
<dl n:inner-foreach="$questions as $question" class="dl-horizontal">
    {continueIf $question == ''}
    <dt>{_'Question '.$iterator->counter.' : '}</dt>
    <dd>{$question}</dd>
    <dd class="divider"></dd>
</dl>
{/snippet}