{**
 * LanguageControl control template
 *
 * @param   Cv		$cv
 * @param	int		$activeId
*}

{snippet languageControl}
{form form class => "ajax sendOnChange form-horizontal group-border stripped"}
	{? $form->errors}
	<h5>{_'Mother Tongue'}</h5>
	<div class="form-group">
		{label motherTongue class=>"col-lg-3 col-md-3 control-label" /}
		<div class="col-lg-9 col-md-9">
			{input $form['motherTongue'] class => "form-control"}
		</div>
	</div>
{/form}

{/snippet}