{**
 * UserDataView control template
 *
 * @param   ArrayList	$users	User
*}

<div class="DTTT btn-group">
    <a href="{plink Users:add}" class="btn btn-default DTTT_button_copy">
        <span>{_'Add user'}</span>
    </a>
</div>

<table id="userTable" class="table table-bordered table-striped table-hover dt-responsive non-responsive">
    <thead>
    <tr>
        <th>{_'ID'}</th>
        <th>{_'Mail'}</th>
        <th>{_'Roles'}</th>
        <th>{_'Action'}</th>
    </tr>
    </thead>
    <tbody>
    <tr n:foreach="$users as $user">
        <td>{$user->id}</td>
        <td>{$user->mail}</td>
        <td>{include 'tag.latte', user=>$user}</td>

        <td>
            <a n:if="$template->canAccess($identity, $user)" class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Users:access $user->id}">
                <i class="fa fa-key"></i> {_'Access'}</a>
            <a n:if="$template->canEdit($identity, $user)" class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Users:edit $user->id}">
                <i class="fa fa-edit"></i> {_'Edit'}</a>
            <a n:if="$template->canDelete($identity, $user)" class="grid-action-view btn btn-xs btn-mini" href="{plink :App:Users:delete $user->id}">
                <i class="fa fa-trash-o"></i> {_'Delete'}</a>
        </td>
    </tr>
    </tbody>
</table>
