{snippet notes}
    <a href="{link preview}" class="ajax right"><i class="fa fa-edit"></i></a>
    </br>
    {form form}
        {input notes, 'class'=>'form-control'}
        {input save, 'class'=>'btn btn-primary button'}
    {/form}
{/snippet}