services:
	- App\Components\Sign\ISignInControlFactory
	- App\Components\Sign\ISignOutControlFactory
	- App\Components\Sign\IAuthControlFactory
	- App\Components\Sign\IForgottenControlFactory
	- App\Components\Sign\IRecoveryControlFactory