services:
	- App\Components\ISignInControlFactory
	- App\Components\Sign\ISignOutControlFactory
	- App\Components\Sign\IRegisterControlFactory
	- App\Components\Sign\IMergeControlFactory
	- App\Components\Auth\IFacebookControlFactory