{**
 * DescriptionsControl control template
 *
*}
{snippet descriptionControl}
<a href="{link preview}" class="ajax right"><i class="eco-share"></i></a>
</br>

{ifset $drawDescription}{control formDescription}{/ifset}
{ifset $drawSummary}{control formSummary}{/ifset}
{/snippet}