{block pageTitle}
{if $isAdmin}
	{_'Administration section'}
{elseif $isCandidate}
	{_'Candidate section'}
{elseif $isCompany}
	{_'Company section'}
{else}
	{_'Dashboard'}
{/if}
{/block}

{block breadcrumbItems}
<li>
	<a n:href="Dashboard:">{_'Dashboard'}</a>
</li>
{/block}

{block content}

{/block}