{**
 * SkillsControl overview template
 *
 * @param   array		$categories
*}
{form form}
{? $form->errors}
<div class="row skills-changer">
	{var $collClass = count($categories) > 2  ?  'col-xs-4' : 'col-xs-6'}
	<div  n:foreach="$categories as $key=>$category" n:class="$collClass">
		<h5>{$category->name}</h5>
		<p class="rate-line">
			{foreach $category->childs as $child}
				{foreach $child->skills as $skill}
					{if isset($form['skillLevel'][$skill->id])  &&  $form['skillLevel'][$skill->id]->value > 0}
						<div>
							{input $form['skillLevel'][$skill->id]
								class=>"rating",
								data-filled => "fa fa-circle green-circle",
								data-empty => "fa fa-circle green-circle-o"}
							<span class="rate-name">{$skill}</span>
						</div>
					{/if}
				{/foreach}
			{/foreach}
		</p>
	</div>
</div>

<p class="row text-right p10 mb0">
	<a href="{plink CvEditor:Skills}">{_'More skills'}</a>
</p>
{/form}