{block pageTitle}
	{_'Job Categories'}
{/block}

{block breadcrumbItems}
	<li class="active">{_'Job Categories'}</li>
{/block}

{block content}
	<div class="row">
		<div class="col-md-12">
			<p class="text-right">
				<a n:href="JobCategories:add" class="btn btn-primary">
					<i class="fa fa-plus"></i>
					{_'New Job category'}
				</a>
			</p>
			{control jobCategoriesGrid}
		</div>
	</div>
{/block content}