
<div n:if="!count($jobs)" class="p15">
	<div class="alert alert-info">
		{_'We are searching job position for You'}
	</div>
</div>

<div class="twitter-widget">
	<div class="twitter-widget-tweets job-item">
		<ul>
			<li n:foreach="$jobs as $job">
				<h5><a href="{plink Job:view $job->id}">{$job}</a></h5>
				<p class="tweet-text">
					{$job->description|stripTags}
				</p>
			</li>
		</ul>
	</div>
</div>