services:
	# Authorizator
	authorizator:
		class: Nette\Security\Permission
		setup:
			# Roles
			- addRole('guest')
			- addRole('signed', 'guest')
			- addRole('candidate', 'signed')
			- addRole('company', 'signed')
			- addRole('company_editor', 'company')
			- addRole('company_manager', 'company')
			- addRole('company_admin', 'company')

			- addRole('admin', 'signed')
			- addRole('superadmin', 'admin')


			# Resources
			- addResource('front')
			- addResource('dashboard')
			- addResource('user_settings')
			- addResource('candidate')
			- addResource('company')
			- addResource('admin')


			- addResource('service')

			# Privilegies
			- deny('guest')

			- allow('guest', 'front')
			- allow('signed', 'dashboard', 'view')
			- allow('signed', 'user_settings', 'view')

			- allow('candidate', 'candidate', 'view')
			- allow('company', 'company', 'view')

			- allow('admin', 'admin')

			- allow('superadmin') # Full access for superadmin role