{layout ../@metronic.layout.latte}

{block content}
<div class="container">
	<br/><br/><br/><br/>
	Testing content for back on this site.<br/>
	{if $user->isLoggedIn()}
		{control signOut}
	{else}
		<a n:href="Sign:registration, backlink => $backlink">{_'Registration'}</a>
	{/if}
</div>
