{snippet profileId}
	{form form class=>'form-inline'}
		<div class="form-body">
			<div class="form-group">
				{label profileId/}/
				{input profileId class=>'form-control text inline input-large'}
				{input save class=>'btn btn-primary button'}
			</div>
		</div>
	{/form}
{/snippet}