
{snippet profileId}
<div n:if="!$editable">{plink :Front:Profile: $candidate->profileId}</div>

<div n:if="$editable" class="row">
	<a href="{link edit}" class="ajax">
		{plink :Front:Profile: $candidate->profileId}
	</a>
	<a href="{link edit}" class="ajax edit">
		<i class="fa fa-edit"></i>
	</a>
</div>

{/snippet}