grido:
	HintNumber: 'You can use <, <=, >, >=, <>. e.g. '>= %d''
	SelectSomeRow: 'Select some row'
	Invert: 'Invert'
	Items: 'Items %d - %d of %d'
	First: 'First'
	Previous: 'Previous'
	Next: 'Next'
	Last: 'Last'
	Actions: 'Actions'
	Search: 'Search'
	Reset: 'Reset'
	ItemsPerPage: 'Items per page'
	Selected: 'Selected...'
	EnterPage: 'Enter page:'
	NoResults: 'No results.'
	ExportAllItems: 'Export all items'
	id: 'ID #'