{**
 * WorksControl control template
 *
 * @param   Cv		$cv
 * @param   Work	$work
*}
{control form}
		
<div n:if="count($cv->works)" class="list-group">
	<a n:foreach="$cv->works as $work" href="{link edit! workId => $work->id}" class="list-group-item">{$work->company}</a>
	<a href="#" class="list-group-item active">Company 2</a>
</div>