{* Latte template *}

<div class="message-header">
    <div class="message-search">
        {form form class=>'ajax sendOnChange'}
            {input searchString class=>'form-control'}
        {/form}
    </div>
</div>