{* Latte template *}

<div class="todo-header">
    <div class="todo-search">
        {form form class=>'ajax sendOnChange'}
            {input searchString class=>'form-control'}
        {/form}
    </div>
    <div class="todo-add">
        <a href="#" class="btn btn-primary tip" title="" data-original-title="Add new todo">
            {_Reset}
        </a>
    </div>
</div>