<div class="social-buttons text-center mt5 mb5">
	<a href="{control facebook}" class="append-remember facebook btn btn-primary btn-alt mr10">
		{_'Sign in with'}
		<i class="fa fa-facebook s20 ml5 mr0"></i>
	</a> 
	<a href="{control twitter}" class="append-remember twitter btn btn-info btn-alt ml10">
		{_'Sign in with'}
		<i class="fa fa-twitter s20 ml5 mr0"></i>
	</a> 
</div>