<div class="social-buttons text-center mt5 mb5">
	<a href="{control facebook}" class="append-remember facebook btn btn-primary btn-alt mr5">
		<i class="fa fa-facebook s20 ml0 mr0"></i>
	</a>
	<a href="{control linkedin}" class="append-remember linkedin btn btn-info btn-alt ml5 mr5">
		<i class="fa fa-linkedin s20 ml0 mr0"></i>
	</a>
	<a href="{control twitter}" class="append-remember twitter btn btn-info btn-alt ml5">
		<i class="fa fa-twitter s20 ml0 mr0"></i>
	</a>
</div>