{form form}
    <h5>{_'What are you most qualified for?'}</h5>
    {input categories}
    <h5>{_'Where do you want to work?'}</h5>
    {input countries}
    <h5>{_'I am also interested in freelance or remote work'}</h5>
    {$freelancer}
{/form}