{includeblock 'blocks.latte'}

{block content}
<div class="col-md-3">
	{include navigation}
</div>

<div class="col-md-9">
	<h1>{_'Photo'}</h1>
	
	<div class="content-form-page">
		<div class="row">
			<div class="col-md-7">
				{control photoForm}
			</div>
		</div>
	</div>
</div>